
@{
    ViewData["Title"] = "BlogTitleExcel";
    Layout = "~/Views/Shared/AdminLayout_.cshtml";
}

<a href="/Admin/Blog/ExportDynamicExcelBlogList" class="btn btn-dribbble" onclick="DowlandExcelBlogList">ExelListesini İndir Kuzii</a>
