
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout_.cshtml";
}

<h1>BlogListExcel</h1>

<a href="/Admin/Blog/ExportStaticExcelBlogList" class="btn btn-dribbble" onclick="DowlandExcelBlogList">ExelListesini İndir Kuzii</a>
